/* estilos generales del sitio web */
*{
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;/*16px*/
}

main{
    margin-top: calc(10px + 4em);
}
/* probando escalas tipograficas */
body {
    background: #0a0a0a ;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #fff;
  }
  
  p {margin-bottom: 0.5em;}
  
  h1, h2, h3, h4, h5 {
    margin: 0.3em 0 0.3em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 4.209rem;
  }
  
  h2 {font-size: 3.157rem;}
  
  h3 {font-size: 2.369rem;}
  
  h4 {font-size: 1.777rem;}
  
  h5 {font-size: 1.333rem;}
  
  small, .text_small {font-size: 0.75rem;}
/* probando escalas tipograficas */

.fa-solid{
    color: #fff;
    margin: 0.5rem;
}
/* estilos generales de la seccion de articulos del sitio web */
/* probando grid en articulos */
.section_article{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows:auto;
    padding:4em;
    grid-gap:1rem;
    text-align: justify;  
    height: auto;
   }

   .box_article:nth-child(1){
    grid-column-start:span 3;
   }
   .box_article:nth-child(6){
    grid-column-end: span 2;
   }
   .box_article{
    background-color:rgba(255, 254, 254, 0.105);
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
   /* fin probando grid en articulos */

.li_date_like{
    color: #fff;
    margin-top: 1em;  
}
.fa-heart{
    color: crimson;
}

/* estilos del header y nav*/
header{
   
}
#navbarColor01{
    background-color: #0a0a0a;
}

.logo{
    margin-left: 1rem;
    margin-top: -1rem;
    height: 6em;
    width: auto;
}

nav{
    float: right;
    top: 0;
    width: 100%;
    height: auto;
    background-color:#0a0a0a;
}

#ul_section_nav{
    margin: 1.5em;
}

.link_section_nav{
    padding: 1em;
}
/* estilos del footer y form */
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height:calc(100vh - 80px);
    background-image: url(./assets/astronaut_transparent.png);
    background-size: cover;
    background-position: 10%;
}

.title_p_contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 55%;
    width: 35%;
    margin-left: 5em;
}

.h3_contact{
    font-family: 'bebas neue', cursive;
}

form{
    width: 35%; 
    margin-right: 5em;
}

input{
    width: 100%;
    margin: 1em;
    padding: 0.5em;
    height: 2em;
    background-color: rgba(255, 255, 255, 0.13);
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #fff;
}

::placeholder{
    color: #fff;
}  

textarea{
    width: 100%;
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.13);
    resize: none; 
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #fff;  
}

#submite{
    margin: 1em;
    padding: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.502);
    border: 0;
    border-bottom: 2px solid #fff;
    color: #fff;   
}
label{
    display:inline;
}

#ul_social_medias{
    width: 30%;
    display: flex;
    margin-top: 2rem;
} 
/* estilos generales del index */

a{
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
 .fa-rocket:hover{

    animation: spin 1s cubic-bezier(.36,.07,.19,.97) 2;
    animation-delay: 1s;}
 
 @keyframes spin {
    10%, 90% {
      transform: rotate(15deg);
    }
    
    20%, 80% {
      transform: rotate(-15deg);
    }
  
    30%, 50%, 70% {
      transform: rotate(15deg);
    }
  
    40%, 60% {
      transform: rotate(-15deg);
    }
  }


}
li{
    display: inline-block;
    list-style: none;
    font-weight:bold;
    font-size: 16px;
}
#index{
    margin-top: 0px;
}


/* estilos generales de las secciones del index*/
section{
    overflow: hidden; 
    height: calc(100vh + 80px);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.box_title_p{
    background-color: rgba(0, 0, 0, 0.167);
    width:30vw; 
    height: auto;
    padding: 2em;
}


.fa-rocket{
    animation: spin 1s cubic-bezier(.36,.07,.19,.97) 2;
    animation-delay: 1s;
 }
 @keyframes spin {
    10%, 90% {
      transform: rotate(15deg);
    }
    
    20%, 80% {
      transform: rotate(-15deg);
    }
  
    30%, 50%, 70% {
      transform: rotate(15deg);
    }
  
    40%, 60% {
      transform: rotate(-15deg);
    }
  }


/* estilos  first_section */
#first_section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;  
    height: calc(100vh + 80px)
}
#video_first_section{   
   height: 100%;
   width: 100vw;
   object-fit: cover;
   position: absolute;
   top: 0px;
   z-index: -1;
}

.box_p_first_section{
    text-align: right; 
    width: 30%;
    margin: 5em;
}

/* second_section */

.img_second_section{
    width: 60vw;
    height:70vh;
    object-fit: cover;
}
    
.title_p_second_section{
    align-self:center;
} 

/* third_section */
.img_third_section{
    width: 60vw; 
    height: 100vh; 
    object-fit: cover;
    transform: translate(-10%);
}

.img_third_section_2{
    width: 25%;
    position: absolute;  
    left: 44%;
    
}   
/* fourth section */
.img_fourth_section{
    width:60% ;
    height: 100vh;
    transform: translate(25px);
    object-fit: cover;
}

.img_fourth_section_2{
    width:30% ;
    position: absolute;
    right: 25%;
    top: 35%;
}

/* fifth section */
#fifth_section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title_fifth_section{
    width: 20%;
}

.box_img_fifth_section{
    display: flex;
    flex-direction: column;
    width: 12%;
    height: calc(100vh - 80px);
    margin-top: 80px; 
}

.img_fifth_section{
    width: 100%;
    height: 60%;
    object-fit: cover;       
}

.p_img_fifth_section{
    width: 100%;
    height: 30%;
    font-weight: bold;
    text-align: justify;   
}

/* estilos de como observar el cielo */
#obserbar{
    padding: 4rem;
    text-align: justify;
}
.img_brujula{
    width: 40%;
    float: right;  
}

/* estilos mas que estrellas */
.introduction{
    margin: 4em;
}

/* estilos de la galeria */
.box_gallery{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows:350px;
    padding:4em;
    grid-gap:1em;
   }
   .img_gallery{
    width:100%;
    height:100%;
    object-fit:cover;
   }

   .box_img_p_gallery{
    position: relative;
    overflow: hidden;
   }
   .p_gallery{
    font-weight: bold;
   }
   .p_li_gallery{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    transition: all 1s ease-in-out;
    background-color:rgba(0, 0, 0, 0.626) ;
    height: 103%;
    padding: 1em;
   }

   .box_img_p_gallery:hover .p_li_gallery{
    transform: translatey(-100%);
   }

   .box_img_p_gallery:nth-child(4){
    grid-column-start:span 2;
   }
   .box_img_p_gallery:nth-child(5){
    grid-row-start: span 2;
   }
   .title_gallery{
    margin: 4rem;
   }


@media screen and (max-width:576px) {
    html{
        font-size: 50%;
    }
    p{
      font-size: 16px;
    }
    /* footer */
    footer{
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    
    .title_p_contact{
        align-items: center;
        height: 40%;
        width: 50%;
        margin-left:0;
    }
    #title_contact{
        transform: translate(0em, -12em);
    }
    .h3_contact{
        text-align: center;
    }
    
    form{
        width: 80%; 
        margin-right: 0;
    }
 
    #ul_social_medias{
        width: 100%;
        justify-content: center;
    } 
/* estilos de las secciones del index */
.box_title_p{
    background-color: rgba(0, 0, 0, 0.626);
    width:40vw; 
    height: auto;
    position: absolute;
    box-shadow: #fff 0px 0px 30px;
    animation: brillo 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

section{
    height:auto;   
}
    /* second_section */

.img_second_section{
    width: 100vw;
    height:100vh;
} 

/* third_section */
.img_third_section{
    width: 100vw; 
    transform: translate(0);
    object-position: 35%;
}

.img_third_section_2{
    left: 70%;   
}

/* fourth section */
.img_fourth_section{
    width:100% ;
    transform: translate(0);
}

.img_fourth_section_2{
    width:30% ;
    left: 10%;
    top: 65%;
}

.title_p_fourth_section{
    z-index: 1;
}
/* fifth section */
#fifth_section{
    flex-direction: column;
    justify-content: space-evenly;
}

.title_fifth_section{
    background-color: rgba(255, 255, 255, 0.05);
    width: 80%;
    margin: 80px 1em 4em;
}

.box_img_fifth_section{
    width: 100%;
    height: 15vh;
    margin-top: 0px;
}

.img_fifth_section{
    height: 100%;      
}

.p_img_fifth_section{
    width: 100%;
    height: 100%;
    position: absolute;  
    background: rgb(0, 0, 0,0.2);
    padding: 1em;
    text-align: center;
}

/* estilos de como observar el cielo */
.img_brujula{
    width: 60%;
    float: right;  
}
.section_article{
    display:flex;  
   }
/* galeria */
   .box_gallery{
    grid-template-columns:repeat(2, 1fr);
   }
   .box_img_p_gallery{
    overflow: hidden;
   }
   .box_img_p_gallery:nth-child(3){
    grid-column-start:span 2;
   }
   .box_img_p_gallery:nth-child(4){
    grid-column-start: span 1 ;
   }
   .title_fifth_section{
    position: relative;
}

}