.back{
    position:absolute; 
	top: 13vh; 
	left: 40px; 
	width: 100px; 
    .btn-back {
        display: inline-block ;
        div {
            position: absolute ;
            z-index: 1 ;
            width: 36px ;
            height: 36px ;
            border-radius: 50% ;
            background: $bread ;
            float: left ;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                fill: none ;
                path, polyline{
                    stroke: $bread-active;
                    stroke-width: 2 ;
                    stroke-linejoin: round ;
                    stroke-linecap: round ;
                }
            }
        }
        span {
            display: inline-block ;
            color: $bread ;
            margin-left: 10px ;
            line-height: 34px ;
            opacity: 0 ;
            transition: all 0.2s ease ;
            font-size: 20px;
            font-weight: bold;
        }
        &:hover {
            span {
                color: $bread-hover ;
            }
        }
        &:hover{
            svg{
                path, polyline{
                    stroke: $bread-hover;
                }
            }
        }
    }
    .menu-back{
        opacity: 0;
        transition: 1s;
        ul{
            display: flex; 
            flex-direction: column;
            padding-left: 36px; 
            padding-top: 25px; 
            pointer-events: none; 
            margin-bottom: 0; 
            list-style: none; 
            li{ 
                white-space: nowrap;
                margin-bottom: 5px;  
                a {
                    text-decoration: none; 
                    color:$bread; 
                    display: inline-block; 
                    @include transform(translateY(-10px));
                    transition: all 0.2s ease ;
                    padding: 0;
                    &:hover{ 
                        color: $bread-hover;
                    }
                }
                &::after{ 
                    content: ''; 
                    position: absolute; 
                    left: 12px; 
                    width: 12px;
                    height: 12px ;
                    border-radius: 50% ;
                    background: $bread ;
                    // background:rgba(236, 186, 130, 0.991);
                    @include transform(scale(0.9));
                    transition: all 0.2s ease ;
                }
                &:not(:last-child)::before {
                    content: ''; 
                    position: absolute ;
                    left: 17px ;
                    margin-top: 10px ;
                    width: 2px ;
                    height: 35px ;
                    background: $bread;
                    transition: all 0.2s ease ;
                }
                &.active {
                    pointer-events: none ;
                    &::after {
                        background:$bread-active;
                    }
                    a {
                        color:$bread-active;
                        font-weight: bold;
                    }
                }    
            }
        }
    }
 
    
    &:hover {
        width: auto ;
        backdrop-filter: blur(1px);
        .menu-back{
            opacity: 1;
            @include transform(translateY(0));
        }
        .btn-back {
            span {
                @include transform(translateX(30px));
                opacity: 1 
            }
        }
        .menu-back{
            opacity: 1;
            ul {
                &.nav-history {
                    @include transform(translateY(0));
                    pointer-events: auto; 
                    li {
                        margin-bottom: 8px; 
                        &::after{ 
                            @include transform(translateY(6px));
                        }
                        a {
                            @include transform(translateY(0));
                        }
                    }
                }
            }
        }    
    }
}                






// arreglar breadcrumb, tiene varias cosas repetidas o propiedades declaradas de forma inecesaria.....
