
.footer{
   height: 10vh;
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: rgba(43, 66, 100, 0.482);
   display: flex;
   justify-content: space-between;
   align-items: center;
   #ul_social_medias{
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        li{
            padding: 0.5em;
            margin: 0.5em;
            height: 2em;
            width: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;
            border: 1px solid transparent;
            animation: orbita 5s linear infinite;
            transition: 1s;
            .fa-brands:before{
                animation: contra-orbita 5s linear infinite;
            }
            &:hover .fa-brands{
                color:rgba(181, 130, 236, 0.991);
            }
            &:hover{
            border-radius: 50%;
            border: 1px solid white;
            animation: orbita 5s linear infinite;
        
                &::before{
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    position: absolute;
                    top: -4px;
                    background-color: rgba(130, 236, 190, 0.991);  
                }
            }
            .fa-brands{
                height: 1em;
                width: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
        }
    }
    p{
        margin-right: 6em;
        font-size: 12px;
    }
}
.index-footer{
    background-color: rgba(64, 43, 100, 0.413);
}
   