
.footer{
   height: 10vh;
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color:$footer-delay;
   display: flex;
   justify-content: space-between;
   align-items: center;
   #ul_social_medias{
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        li{
            padding: 0.5em;
            margin: 0.5em;
            height: 2em;
            width: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            border-radius: 50%;
            border: 1px solid transparent;
            animation: orbita 5s linear infinite;
            transition: 1s;
            .fa-brands:before{
                animation: contra-orbita 5s linear infinite;
            }
            &:hover .fa-brands{
                color:$bread-hover;
            }
            &:hover{
            border-radius: 50%;
            border: 1px solid white;
            animation: orbita 5s linear infinite;
        
                &::before{
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    position: absolute;
                    top: -4px;
                    background-color: $bread-active;  
                }
            }
            .fa-brands{
                height: 1em;
                width: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
        }
    }
    p{
        margin-right: 6em;
        font-size: 12px;
    }
}

.index-footer{
    background-color:$footer-index;
    #ul_social_medias{
        li{
            &:hover .fa-brands{
                color:$fa-index;
                
            }
            &:hover{
                border-radius: 50%;
                border: 1px solid white;
                animation: orbita 5s linear infinite;
            
                    &::before{
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        position: absolute;
                        top: -4px;
                        background-color: white;  
                    }
                }
        }
    }
}  


@keyframes orbita {
    to {
      transform: rotate(0deg); }
    from {
      transform: rotate(360deg); } }
  
  @keyframes contra-orbita {
    to {
      transform: rotate(0deg); }
    from {
      transform: rotate(-360deg); } }