.nav{
    position: absolute;
    float: right;
    top: 0;
    width: 100%;
    min-height: 8vh;
    max-height: 12vh;
    background-color: $nav-delay;
    animation: opaco 1s forwards;
    .logo{
        margin-left: 1rem;
        margin-top: -1rem;
        height: 5em;
        width: auto;
    }
    #navbarColor01{
        background-color:$nav-strong;
    }
}
.nav .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent;
    font-size: 2rem;
  
}

.nav-index{
    position: fixed;
}


