.h2_mqe {
  color: #23d5ab; }

.h2_myl {
  color: #e73c7e; }

.footer {
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(43, 66, 100, 0.482);
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer #ul_social_medias {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0; }
    .footer #ul_social_medias li {
      padding: 0.5em;
      margin: 0.5em;
      height: 2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 50%;
      border: 1px solid transparent;
      animation: orbita 5s linear infinite;
      transition: 1s; }
      .footer #ul_social_medias li .fa-brands:before {
        animation: contra-orbita 5s linear infinite; }
      .footer #ul_social_medias li:hover .fa-brands {
        color: rgba(130, 208, 236, 0.991); }
      .footer #ul_social_medias li:hover {
        border-radius: 50%;
        border: 1px solid white;
        animation: orbita 5s linear infinite; }
        .footer #ul_social_medias li:hover::before {
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: absolute;
          top: -4px;
          background-color: rgba(130, 236, 190, 0.991); }
      .footer #ul_social_medias li .fa-brands {
        height: 1em;
        width: 1em;
        display: flex;
        align-items: center;
        justify-content: center; }
  .footer p {
    margin-right: 6em;
    font-size: 12px; }

.index-footer {
  background-color: rgba(64, 43, 100, 0.413); }
  .index-footer #ul_social_medias li:hover .fa-brands {
    color: rgba(181, 130, 236, 0.991); }
  .index-footer #ul_social_medias li:hover {
    border-radius: 50%;
    border: 1px solid white;
    animation: orbita 5s linear infinite; }
    .index-footer #ul_social_medias li:hover::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      top: -4px;
      background-color: rgba(255, 255, 255, 0.991); }

.nav {
  position: absolute;
  float: right;
  top: 0;
  width: 100%;
  min-height: 8vh;
  max-height: 12vh;
  background-color: #0a0a0a33;
  animation: opaco 1s forwards; }
  .nav .logo {
    margin-left: 1rem;
    margin-top: -1rem;
    height: 5em;
    width: auto; }
  .nav #navbarColor01 {
    background-color: #0a0a0a49; }

.nav .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: transparent;
  font-size: 2rem; }

.nav-index {
  position: fixed;
  background-color: #0a0a0a33; }
  .nav-index #navbarColor01 {
    background-color: #0a0a0a49; }

#main-articulos {
  display: flex;
  flex-wrap: wrap; }
  #main-articulos .citas {
    width: 25%;
    height: fit-content;
    border-left: 1px solid  #e6eaef23;
    padding: 2em;
    font-weight: bold;
    margin-top: 4em; }
    #main-articulos .citas p {
      font-weight: normal; }
  #main-articulos .section_article {
    display: grid;
    width: 72vw;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding: 4em;
    padding-right: 4em;
    grid-gap: 1rem;
    height: auto; }
    #main-articulos .section_article .box_article {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 1em;
      border: solid #e6eaef05;
      stroke-width: 0.5px;
      transition: 1s; }
      #main-articulos .section_article .box_article .img-article {
        height: 100%;
        object-fit: cover; }
      #main-articulos .section_article .box_article a {
        color: #8ac0fa;
        padding: 0;
        font-size: 16px; }
        #main-articulos .section_article .box_article a:hover {
          color: #077af6; }
      #main-articulos .section_article .box_article h2 {
        margin: 0.5em;
        position: absolute;
        top: 0; }
      #main-articulos .section_article .box_article article {
        margin-top: 1em;
        border-top: none; }
      #main-articulos .section_article .box_article:nth-child(1) {
        grid-column-start: span 3; }
      #main-articulos .section_article .box_article:nth-child(6) {
        grid-column-end: span 2; }
      #main-articulos .section_article .box_article:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        box-shadow: 1px 1px 15px #6a6d7014; }
      #main-articulos .section_article .box_article:hover .fa-heart, #main-articulos .section_article .box_article:hover h2 {
        animation: fluido 2s ease-in-out infinite;
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 300%;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; }

@keyframes fluido {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
      #main-articulos .section_article .box_article .li_date_like {
        color: #fff;
        margin-top: 1em; }
      #main-articulos .section_article .box_article .fa-heart, #main-articulos .section_article .box_article:hover h2 {
        color: crimson; }

.back {
  position: absolute;
  top: 13vh;
  left: 40px;
  width: 100px; }
  .back ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    opacity: 0; }
    .back ul li {
      white-space: nowrap; }
      .back ul li a {
        text-decoration: none; }
    .back ul.nav-history {
      padding-left: 36px;
      padding-top: 25px;
      pointer-events: none; }
    .back ul li {
      margin-bottom: 5px; }
      .back ul li::after {
        content: '';
        position: absolute;
        left: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #e6eaef;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        transition: all 0.2s ease; }
      .back ul li:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 17px;
        margin-top: 10px;
        width: 2px;
        height: 35px;
        background: #e6eaef;
        transition: all 0.2s ease; }
      .back ul li.active {
        pointer-events: none; }
        .back ul li.active::after {
          background: #e8eaed; }
        .back ul li.active a {
          color: #8ac0fa;
          font-weight: bold; }
      .back ul li a {
        color: #023872;
        display: inline-block;
        opacity: 0;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
        transition: all 0.2s ease;
        padding: 0; }
        .back ul li a:hover {
          color: #077af6; }
  .back:hover {
    width: auto;
    backdrop-filter: blur(1px); }
    .back:hover .menu-back {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      padding: 0em 3em 2em 2em; }
    .back:hover .btn-back div {
      background: rgba(65, 138, 216, 0.25); }
    .back:hover .btn-back span {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      opacity: 1; }
    .back:hover ul {
      opacity: 1; }
      .back:hover ul.nav-history {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto; }
        .back:hover ul.nav-history li {
          margin-bottom: 8px; }
          .back:hover ul.nav-history li::after {
            background: #e6eaef;
            -webkit-transform: translateY(6px);
            -ms-transform: translateY(6px);
            transform: translateY(6px); }
          .back:hover ul.nav-history li.active::after {
            background: #077af6; }
          .back:hover ul.nav-history li a {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0); }

.back:hover .btn-back div svg path,
.back:hover .btn-back div svg polyline {
  stroke: #418ad8; }

.btn-back {
  display: inline-block; }
  .btn-back div {
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #e8eaed;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; }
    .btn-back div svg {
      fill: none; }
  .btn-back span {
    display: inline-block;
    color: #023872;
    margin-left: 10px;
    line-height: 34px;
    opacity: 0;
    -webkit-transform: translatex(-20);
    -ms-transform: translatex(-20);
    transform: translatex(-20);
    transition: all 0.2s ease;
    font-size: 20px;
    font-weight: bold; }
  .btn-back:hover span {
    color: #077af6; }

.btn-back div svg path,
.btn-back div svg polyline {
  stroke: #9098a9;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round; }

* {
  font-family: 'Montserrat', sans-serif; }

html {
  scroll-behavior: smooth;
  font-size: 100%;
  /*16px*/ }

body {
  background: #0a0a0a;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff;
  position: relative; }

p {
  margin-bottom: 0.5em; }

h1, h2, h3, h4, h5 {
  margin: 0.3em 0 0.3em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

h1 {
  margin-top: 0;
  font-size: 4.209rem; }

h2 {
  font-size: 3.157rem; }

h3 {
  font-size: 2.369rem; }

h4 {
  font-size: 1.777rem; }

h5 {
  font-size: 1.333rem; }

cite {
  font-style: italic; }

li {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  font-size: 16px; }

a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  font-size: 16px; }

a:hover {
  text-decoration: none;
  color: #fff; }

p a {
  font-style: italic; }

.fa-solid {
  color: #fff;
  margin: 0.5rem; }

:focus-visible {
  outline: none;
  color: rgba(211, 178, 246, 0.991); }

.img_inicio {
  height: 75vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom; }

.inicio {
  position: fixed;
  z-index: 1;
  width: 36px;
  height: 36px;
  margin: 2vh;
  border-radius: 50%;
  background: rgba(43, 66, 100, 0.482);
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .inicio svg {
    fill: none; }
  .inicio path, .inicio polyline {
    stroke: #9098a9;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round; }

.main {
  padding-bottom: 10vh; }

.introduction {
  margin: 0em 4em 4em;
  margin-top: 2em;
  font-weight: bold; }

.title_gallery {
  margin: 0rem 4rem 4rem;
  margin-top: 2rem; }

.box_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  padding: 4em;
  grid-gap: 1em; }
  .box_gallery .box_img_p_gallery:nth-child(1) {
    grid-column-start: 2 span; }
  .box_gallery .box_img_p_gallery:nth-child(2) {
    grid-row-start: 3 span; }
  .box_gallery .box_img_p_gallery:nth-child(3) {
    grid-row-start: 2 span; }
  .box_gallery .box_img_p_gallery:nth-child(4) {
    grid-row-start: 2 span; }
  .box_gallery .box_img_p_gallery:nth-child(5) {
    grid-column-start: 2 span;
    grid-row-start: 2 span; }
  .box_gallery .box_img_p_gallery:nth-child(6) {
    grid-row-start: 2 span; }
  .box_gallery .box_img_p_gallery {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%; }
    .box_gallery .box_img_p_gallery:hover img {
      animation: scalar 50s linear forwards;
      animation-delay: 1.5s; }

@keyframes scalar {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); } }
    .box_gallery .box_img_p_gallery:hover .p_li_gallery {
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
    .box_gallery .box_img_p_gallery .p_li_gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 2em;
      background-color: #0a0a0a86;
      text-align: center;
      transition: 2s; }
      .box_gallery .box_img_p_gallery .p_li_gallery .fa-heart, .box_gallery .box_img_p_gallery .p_li_gallery #main-articulos .section_article .box_article:hover h2, #main-articulos .section_article .box_article:hover .box_gallery .box_img_p_gallery .p_li_gallery h2 {
        color: crimson; }
    .box_gallery .box_img_p_gallery .img-svg {
      padding: 0.5em;
      width: 100%;
      height: 100%; }
      .box_gallery .box_img_p_gallery .img-svg img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .box_gallery .box_img_p_gallery svg {
      stroke: white;
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 300; }
      .box_gallery .box_img_p_gallery svg path {
        fill: none;
        stroke: white;
        stroke-width: 2; }
    .box_gallery .box_img_p_gallery .der-sup {
      top: 0;
      right: 0; }
    .box_gallery .box_img_p_gallery .izq-inf {
      bottom: 0;
      left: 0; }

#index {
  margin-top: 0px;
  position: relative;
  height: 100%; }

.index {
  overflow: hidden;
  height: 110vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .index #video_first_section {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0px;
    z-index: -1; }
  .index div {
    height: fit-content; }
    .index div h1 {
      margin-top: 10vh;
      -webkit-text-stroke: 1px #ebe5e514;
      color: #0a0a0a86;
      font-size: 20em;
      padding-top: 8vh;
      margin: 0;
      line-height: 0.8; }
      .index div h1 span {
        font-family: "Bebas Neue", sans-serif;
        transition: 1s; }
        .index div h1 span:hover {
          color: rgba(64, 43, 100, 0.482);
          text-shadow: rgba(33, 23, 50, 0.397) -8px 5px 1px; }
      .index div h1:hover ~ p {
        opacity: 1; }
    .index div p {
      text-align: center;
      opacity: 0;
      transition: 5s;
      color: #c1b6d4;
      font-weight: bolder;
      text-transform: capitalize; }

.observar {
  display: flex;
  flex-wrap: wrap; }
  .observar #observar {
    padding: 2em 4em 4em 4em;
    width: 70%; }
    .observar #observar .img_brujula {
      width: 40%;
      float: right; }
    .observar #observar img {
      width: 100%; }
  .observar .box_article {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    margin-top: 2em;
    border: 3px solid #e6eaef05;
    stroke-width: 0.5px;
    transition: 1s; }
    .observar .box_article article img {
      width: 100%;
      object-fit: cover;
      object-position: bottom; }
    .observar .box_article article a {
      width: 100%;
      padding: 0; }
    .observar .box_article .fa-heart, .observar #main-articulos .section_article .box_article:hover h2, #main-articulos .section_article .observar .box_article:hover h2 {
      color: crimson; }
    .observar .box_article:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      box-shadow: 1px 1px 15px #6a6d7014; }

#contacto-main {
  height: 120vh;
  background-image: url(../imagenes/astronaut_transparent.png);
  background-size: cover;
  background-position: center; }
  #contacto-main .contacto {
    position: absolute;
    top: 0vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    height: 100vh;
    overflow: hidden;
    grid-template-areas: "title form"  "texto form" "texto form"; }
    #contacto-main .contacto form {
      width: 70%;
      margin-left: 5rem;
      margin-top: 5em;
      grid-area: form; }
      #contacto-main .contacto form label {
        display: inline;
        margin-left: 0.5em;
        transition: 1s;
        color: transparent;
        font-weight: bold; }
        #contacto-main .contacto form label:focus-within {
          color: #fff; }
        #contacto-main .contacto form label:hover {
          color: #fff; }
        #contacto-main .contacto form label input {
          width: 100%;
          margin: 0.5em;
          padding: 0.5em;
          height: 2em;
          background-color: rgba(255, 255, 255, 0.13);
          border: 0;
          border-bottom: 2px solid #fff;
          outline: none;
          color: #fff; }
          #contacto-main .contacto form label input:focus {
            box-shadow: #939393 0px 0px 30px; }
          #contacto-main .contacto form label input:focus::placeholder {
            color: transparent; }
        #contacto-main .contacto form label input::placeholder {
          color: #fff;
          transition: 1s; }
        #contacto-main .contacto form label input:hover::placeholder {
          color: transparent; }
        #contacto-main .contacto form label textarea {
          width: 100%;
          margin: 0.5em;
          padding: 0.5em;
          background-color: rgba(255, 255, 255, 0.13);
          resize: none;
          border: 0;
          border-bottom: 2px solid #fff;
          outline: none; }
          #contacto-main .contacto form label textarea::placeholder {
            color: #fff;
            transition: 1s; }
          #contacto-main .contacto form label textarea:focus {
            box-shadow: #939393 0px 0px 30px; }
          #contacto-main .contacto form label textarea:focus::placeholder {
            color: transparent; }
        #contacto-main .contacto form label textarea:hover::placeholder {
          color: transparent; }
      #contacto-main .contacto form #submite {
        margin: 0.5em;
        padding: 0.5em;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.502);
        border: 0;
        border-bottom: 2px solid #fff;
        color: #fff;
        font-weight: 900;
        transition: 1s; }
        #contacto-main .contacto form #submite:focus {
          box-shadow: #939393 0px 0px 30px;
          transition: 1s; }
        #contacto-main .contacto form #submite:focus::placeholder {
          color: #fff; }
        #contacto-main .contacto form #submite:hover {
          background-color: white;
          color: #000;
          transition: 1s; }
    #contacto-main .contacto #title_contact {
      margin-left: 5rem;
      margin-top: 4rem; }
    #contacto-main .contacto .title_p_contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 80%;
      width: 70%;
      margin-left: 5em;
      grid-area: texto; }
      #contacto-main .contacto .title_p_contact .h3_contact {
        font-family: 'bebas neue', cursive;
        grid-area: title; }
      #contacto-main .contacto .title_p_contact #ul_social_medias {
        width: 30%;
        display: flex;
        margin-top: 2rem; }
        #contacto-main .contacto .title_p_contact #ul_social_medias li {
          padding: 0.5em;
          margin: 1em;
          height: 70px;
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          border-radius: 50%;
          border: 1px solid transparent;
          animation: orbita 5s linear infinite;
          transition: 1s; }
          #contacto-main .contacto .title_p_contact #ul_social_medias li .fa-brands:before {
            animation: contra-orbita 5s linear infinite; }
          #contacto-main .contacto .title_p_contact #ul_social_medias li:hover {
            border-radius: 50%;
            border: 1px solid #023872;
            animation: orbita 5s linear infinite; }
            #contacto-main .contacto .title_p_contact #ul_social_medias li:hover::before {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              position: absolute;
              top: -5px;
              background-color: #077af6; }
          #contacto-main .contacto .title_p_contact #ul_social_medias li .fa-brands {
            height: 70px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center; }

@keyframes orbita {
  to {
    transform: rotate(0deg); }
  from {
    transform: rotate(360deg); } }

@keyframes contra-orbita {
  to {
    transform: rotate(0deg); }
  from {
    transform: rotate(-360deg); } }

.gracias {
  position: relative;
  z-index: 100;
  height: auto;
  width: auto; }
  .gracias .logo {
    position: absolute;
    height: 6em;
    width: 8em;
    top: 2vh;
    left: 2vh; }
    .gracias .logo img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center; }

#gracias {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  #gracias img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    animation: fondo 300s linear; }
  #gracias .mensaje-gracias {
    width: fit-content;
    height: fit-content;
    padding: 2em;
    margin: 4em;
    position: absolute;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    #gracias .mensaje-gracias h1 {
      color: rgba(130, 208, 236, 0.991); }
    #gracias .mensaje-gracias p {
      font-weight: bold; }
      #gracias .mensaje-gracias p::first-letter {
        text-transform: capitalize; }
    #gracias .mensaje-gracias a {
      font-weight: bold;
      letter-spacing: 0.3em;
      transition: 3s;
      text-transform: uppercase; }
      #gracias .mensaje-gracias a:hover {
        color: rgba(130, 208, 236, 0.991);
        letter-spacing: 1em; }
    #gracias .mensaje-gracias ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 1em; }
      #gracias .mensaje-gracias ul li .fa-brands {
        font-size: 2em; }
      #gracias .mensaje-gracias ul li:hover .fa-brands {
        color: rgba(130, 208, 236, 0.991); }

@keyframes fondo {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3); } }

@media screen and (min-width: 1400px) {
  #main-articulos .section_article {
    width: 70%; } }

@media screen and (max-width: 1199.98px) {
  html {
    font-size: 40%; }
  p, a {
    font-size: 16px; }
  #main-articulos .section_article {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    #main-articulos .section_article .box_article:nth-child(1) {
      grid-column-start: span 2; }
    #main-articulos .section_article .box_article:nth-child(6) {
      grid-column-end: span 2; }
  #main-articulos .citas {
    display: block;
    font-size: 12px; }
  /* footer */
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: bottom;
    background-size: auto;
    top: 4vh; }
    .contacto #title_contact {
      margin-left: 0; }
    .contacto .title_p_contact {
      align-items: center;
      height: 40%;
      width: 50%;
      margin-left: 0; }
      .contacto .title_p_contact .h3_contact {
        text-align: center; }
      .contacto .title_p_contact #ul_social_medias {
        width: 100%;
        justify-content: center; }
    .contacto form {
      width: 80%;
      margin-right: 0;
      margin-top: 4em;
      margin-bottom: 4em;
      margin-left: 0; }
  /* estilos de las secciones del index */
  section {
    height: auto; }
    section .box_title_p {
      background-color: rgba(0, 0, 0, 0.626);
      width: 40vw;
      height: auto;
      position: absolute;
      box-shadow: #939393 0px 0px 30px;
      animation: brillo 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; }
  /* estilos de como observar el cielo */
  .img_brujula {
    width: 60%;
    float: right; } }

@media screen and (max-width: 575px) {
  .nav ul {
    align-items: flex-end; }
  .nav .logo {
    font-size: 2rem; }
  .nav .navbar-toggler {
    font-size: 3rem; }
  .back {
    left: 3em;
    top: 10vh; }
    .back a div {
      background: #e8eaed42; }
      .back a div path, .back a div polyline {
        stroke: #2c333f; }
  #main-articulos {
    flex-direction: column; }
    #main-articulos .section_article {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding-right: 4em; }
    #main-articulos .citas {
      display: none; }
  .observar {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%; }
    .observar #observar {
      width: 90%; }
      .observar #observar .img_brujula {
        width: 40%;
        float: right; }
      .observar #observar img {
        width: 100%; }
    .observar .box_article {
      width: calc(90% - 8em);
      margin: 4em; }
      .observar .box_article article img {
        width: 100%;
        object-fit: cover;
        object-position: bottom; }
      .observar .box_article article a {
        width: 100%;
        padding: 0; }
      .observar .box_article .fa-heart, .observar #main-articulos .section_article .box_article:hover h2, #main-articulos .section_article .observar .box_article:hover h2 {
        color: crimson; }
      .observar .box_article:hover {
        -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01);
        box-shadow: 1px 1px 15px #6a6d7014; }
  /* galeria */
  .box_gallery {
    display: flex;
    flex-direction: column;
    margin-right: 4em; }
    .box_gallery .box_img_p_gallery {
      overflow: hidden;
      height: 50vh; }
      .box_gallery .box_img_p_gallery .img-svg {
        width: 100%;
        height: 100%; }
        .box_gallery .box_img_p_gallery .img-svg img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .box_gallery .box_img_p_gallery .p_li_gallery {
        width: 100%;
        padding: 4em; } }
