.h2_mqe {
  color: #23d5ab; }

.h2_myl {
  color: #e73c7e; }

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url(../imagenes/astronaut_transparent.png);
  background-size: cover;
  background-position: 10%; }
  footer .title_p_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 55%;
    width: 35%;
    margin-left: 5em; }
    footer .title_p_contact .h3_contact {
      font-family: 'bebas neue', cursive; }
    footer .title_p_contact #ul_social_medias {
      width: 30%;
      display: flex;
      margin-top: 2rem; }
  footer form {
    width: 35%;
    margin-right: 5em; }
    footer form label {
      display: inline; }
    footer form input {
      width: 100%;
      margin: 0.5em;
      padding: 0.5em;
      height: 2em;
      background-color: rgba(255, 255, 255, 0.13);
      border: 0;
      border-bottom: 2px solid #fff;
      outline: none;
      color: #fff; }
    footer form ::placeholder {
      color: #fff; }
    footer form textarea {
      width: 100%;
      margin: 0.5em;
      padding: 0.5em;
      background-color: rgba(255, 255, 255, 0.13);
      resize: none;
      border: 0;
      border-bottom: 2px solid #fff;
      outline: none;
      color: #fff; }
    footer form #submite {
      margin: 0.5em;
      padding: 0.5em;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.502);
      border: 0;
      border-bottom: 2px solid #fff;
      color: #fff; }

nav {
  float: right;
  top: 0;
  width: 100%;
  min-height: 8vh;
  background-color: #0a0a0a; }
  nav .logo {
    margin-left: 1rem;
    margin-top: -1rem;
    height: 4em;
    width: auto; }
  nav .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: transparent;
    font-size: 1.5rem; }
  nav #navbarColor01 {
    background-color: #0a0a0a; }

.section_article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 4em;
  grid-gap: 1rem;
  height: auto; }
  .section_article .box_article {
    background-color: rgba(255, 254, 254, 0.105);
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .section_article .box_article:nth-child(1) {
      grid-column-start: span 3; }
    .section_article .box_article:nth-child(6) {
      grid-column-end: span 2; }
    .section_article .box_article:hover .fa-heart, .section_article .box_article:hover h2 {
      animation: fluido 2s ease-in-out infinite;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 300%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; }

@keyframes fluido {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
    .section_article .box_article .li_date_like {
      color: #fff;
      margin-top: 1em; }
    .section_article .box_article .fa-heart, .section_article .box_article:hover h2 {
      color: crimson; }

#index {
  margin-top: 0px; }

section {
  overflow: hidden;
  height: calc(100vh + 80px);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  section .box_title_p {
    background-color: rgba(0, 0, 0, 0.167);
    width: 30vw;
    height: auto;
    padding: 2em; }
    section .box_title_p .fa-rocket {
      animation: spin 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2;
      animation-delay: 1s; }
  section .fa-rocket {
    animation: spin 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2;
    animation-delay: 1s; }

@keyframes spin {
  10%, 90% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  20%, 80% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  40%, 60% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

#first_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: calc(100vh + 80px); }
  #first_section #video_first_section {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0px;
    z-index: -1; }
  #first_section .box_p_first_section {
    text-align: right;
    width: 30%;
    margin: 5em; }

.img_second_section {
  width: 60vw;
  height: 70vh;
  object-fit: cover; }

.img_third_section {
  width: 60vw;
  height: 100vh;
  object-fit: cover;
  -webkit-transform: translate(-10%);
  -ms-transform: translate(-10%);
  transform: translate(-10%); }

.img_third_section_2 {
  width: 25%;
  position: absolute;
  left: 44%; }

.img_fourth_section {
  width: 60%;
  height: 100vh;
  -webkit-transform: translate(25px);
  -ms-transform: translate(25px);
  transform: translate(25px);
  object-fit: cover; }

.img_fourth_section_2 {
  width: 30%;
  position: absolute;
  right: 25%;
  top: 35%; }

#fifth_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #fifth_section .title_fifth_section {
    width: 20%; }
  #fifth_section .box_img_fifth_section {
    display: flex;
    flex-direction: column;
    width: 12%;
    height: calc(100vh - 80px);
    margin-top: 80px; }
    #fifth_section .box_img_fifth_section .img_fifth_section {
      width: 100%;
      height: 60%;
      object-fit: cover; }
    #fifth_section .box_img_fifth_section .p_img_fifth_section {
      width: 100%;
      height: 30%;
      font-weight: bold;
      text-align: justify; }

* {
  font-family: 'Montserrat', sans-serif; }

html {
  scroll-behavior: smooth;
  font-size: 100%;
  /*16px*/ }

main {
  margin-top: calc(10px + 4em);
  padding-top: 4em; }

body {
  background: #0a0a0a;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff; }

p {
  margin-bottom: 0.5em; }

h1, h2, h3, h4, h5 {
  margin: 0.3em 0 0.3em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

h1 {
  margin-top: 0;
  font-size: 4.209rem; }

h2 {
  font-size: 3.157rem; }

h3 {
  font-size: 2.369rem; }

h4 {
  font-size: 1.777rem; }

h5 {
  font-size: 1.333rem; }

li {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  font-size: 16px; }

a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em; }

a:hover {
  text-decoration: none;
  color: #fff; }

.fa-solid {
  color: #fff;
  margin: 0.5rem; }

.introduction {
  margin: 0em 4em 4em; }
