.h2_mqe {
  color: #23d5ab; }

.h2_myl {
  color: #e73c7e; }

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  height: calc(100vh - 1em);
  overflow: hidden;
  background-image: url(../imagenes/astronaut_transparent.png);
  background-size: cover;
  background-position: center;
  grid-template-areas: "title form"  "texto form" "texto form"; }
  footer form {
    width: 70%;
    margin-left: 5rem;
    margin-top: 5em;
    grid-area: form; }
    footer form label {
      display: inline;
      margin-left: 0.5em;
      transition: 1s;
      color: transparent;
      font-weight: bold; }
      footer form label:focus-within {
        color: #fff; }
      footer form label:hover {
        color: #fff; }
      footer form label input {
        width: 100%;
        margin: 0.5em;
        padding: 0.5em;
        height: 2em;
        background-color: rgba(255, 255, 255, 0.13);
        border: 0;
        border-bottom: 2px solid #fff;
        outline: none;
        color: #fff; }
        footer form label input:focus {
          box-shadow: #939393 0px 0px 30px; }
        footer form label input:focus::placeholder {
          color: transparent; }
      footer form label input::placeholder {
        color: #fff;
        transition: 1s; }
      footer form label input:hover::placeholder {
        color: transparent; }
      footer form label textarea {
        width: 100%;
        margin: 0.5em;
        padding: 0.5em;
        background-color: rgba(255, 255, 255, 0.13);
        resize: none;
        border: 0;
        border-bottom: 2px solid #fff;
        outline: none; }
        footer form label textarea::placeholder {
          color: #fff;
          transition: 1s; }
        footer form label textarea:focus {
          box-shadow: #939393 0px 0px 30px; }
        footer form label textarea:focus::placeholder {
          color: transparent; }
      footer form label textarea:hover::placeholder {
        color: transparent; }
    footer form #submite {
      margin: 0.5em;
      padding: 0.5em;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.502);
      border: 0;
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 900;
      transition: 1s; }
      footer form #submite:focus {
        box-shadow: #939393 0px 0px 30px;
        transition: 1s; }
      footer form #submite:focus::placeholder {
        color: #fff; }
      footer form #submite:hover {
        background-color: white;
        color: #000;
        transition: 1s; }
  footer #title_contact {
    margin-left: 5rem;
    margin-top: 4rem; }
  footer .title_p_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80%;
    width: 70%;
    margin-left: 5em;
    grid-area: texto; }
    footer .title_p_contact .h3_contact {
      font-family: 'bebas neue', cursive;
      grid-area: title; }
    footer .title_p_contact #ul_social_medias {
      width: 30%;
      display: flex;
      margin-top: 2rem; }
      footer .title_p_contact #ul_social_medias .fa-facebook-square:hover {
        color: blue;
        background: #fff;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      footer .title_p_contact #ul_social_medias a:focus .fa-facebook-square {
        color: blue;
        background: #fff;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      footer .title_p_contact #ul_social_medias .fa-facebook-square {
        height: 39px;
        width: 40px;
        line-height: 0.8;
        border-radius: 30%;
        transition: 2s; }
      footer .title_p_contact #ul_social_medias .fa-instagram:hover {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 2s; }
      footer .title_p_contact #ul_social_medias a:focus .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      footer .title_p_contact #ul_social_medias .fa-instagram {
        height: 40px;
        width: 40px;
        line-height: 0.9;
        border-radius: 30%;
        transition: 2s; }
      footer .title_p_contact #ul_social_medias .fa-twitter-square:hover {
        color: deepskyblue;
        background: #fff;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      footer .title_p_contact #ul_social_medias a:focus .fa-twitter-square {
        color: deepskyblue;
        background: #fff;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      footer .title_p_contact #ul_social_medias .fa-twitter-square {
        height: 39px;
        width: 40px;
        line-height: 0.8;
        border-radius: 30%;
        transition: 2s; }

nav {
  float: right;
  top: 0;
  width: 100%;
  min-height: 8vh;
  background-color: #0a0a0a; }
  nav .logo {
    margin-left: 1rem;
    margin-top: -1rem;
    height: 5em;
    width: auto; }
  nav #navbarColor01 {
    background-color: #0a0a0a; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: transparent !important;
  font-size: 2rem; }

.section_article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  padding: 4em;
  grid-gap: 1rem;
  height: auto; }
  .section_article .box_article {
    position: relative;
    background-color: rgba(255, 254, 254, 0.105);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .section_article .box_article h2 {
      margin: 0.5em;
      position: absolute;
      top: 0; }
    .section_article .box_article article {
      padding: 1em;
      border-top: none; }
    .section_article .box_article:nth-child(1) {
      grid-column-start: span 3; }
    .section_article .box_article:nth-child(6) {
      grid-column-end: span 2; }
    .section_article .box_article:hover .fa-heart, .section_article .box_article:hover h2 {
      animation: fluido 2s ease-in-out infinite;
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 300%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; }

@keyframes fluido {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }
    .section_article .box_article .li_date_like {
      color: #fff;
      margin-top: 1em; }
    .section_article .box_article .fa-heart, .section_article .box_article:hover h2 {
      color: crimson; }

.back {
  position: absolute;
  top: 10em;
  left: 40px;
  width: 100px; }
  .back ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    opacity: 0; }
    .back ul li {
      white-space: nowrap; }
      .back ul li a {
        text-decoration: none; }
    .back ul.nav-history {
      padding-left: 36px;
      padding-top: 25px;
      pointer-events: none; }
    .back ul li {
      margin-bottom: 5px; }
      .back ul li::after {
        content: '';
        position: absolute;
        left: 12px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #e6eaef;
        transform: scale(0.9);
        transition: all 0.2s ease; }
      .back ul li:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 17px;
        margin-top: 10px;
        width: 2px;
        height: 35px;
        background: #e6eaef;
        transition: all 0.2s ease; }
      .back ul li.active {
        pointer-events: none; }
        .back ul li.active::after {
          background: #e8eaed; }
        .back ul li.active a {
          color: #8ac0fa;
          font-weight: bold; }
      .back ul li a {
        color: #023872;
        display: inline-block;
        opacity: 0;
        transform: translateY(-10px);
        transition: all 0.2s ease;
        padding: 0; }
        .back ul li a:hover {
          color: #077af6; }
  .back:hover {
    width: auto;
    backdrop-filter: blur(1px); }
    .back:hover .menu-back {
      opacity: 1;
      transform: translateY(0);
      padding: 0em 3em 2em 2em; }
    .back:hover .btn-back div {
      background: rgba(65, 138, 216, 0.25); }
    .back:hover .btn-back span {
      transform: translateX(0);
      opacity: 1; }
    .back:hover ul {
      opacity: 1; }
      .back:hover ul.nav-history {
        transform: translateY(0);
        pointer-events: auto; }
        .back:hover ul.nav-history li {
          margin-bottom: 8px; }
          .back:hover ul.nav-history li::after {
            background: #e6eaef;
            transform: translateY(6px); }
          .back:hover ul.nav-history li.active::after {
            background: #077af6; }
          .back:hover ul.nav-history li a {
            opacity: 1;
            transform: translateY(0); }

.back:hover .btn-back div svg path,
.back:hover .btn-back div svg polyline {
  stroke: #418ad8; }

.btn-back {
  display: inline-block; }
  .btn-back div {
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #e8eaed;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; }
    .btn-back div svg {
      fill: none; }
  .btn-back span {
    display: inline-block;
    color: #023872;
    margin-left: 10px;
    line-height: 34px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
    font-size: 20px;
    font-weight: bold; }
  .btn-back:hover span {
    color: #077af6; }

.btn-back div svg path,
.btn-back div svg polyline {
  stroke: #9098a9;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round; }

.title_gallery {
  margin: 0rem 4rem 4rem;
  margin-top: 2rem; }

.box_gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  padding: 4em;
  overflow: hidden; }
  .box_gallery .box_img_p_gallery {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
    padding: 1em;
    align-items: center; }
    .box_gallery .box_img_p_gallery .wrapper-orbita {
      position: absolute;
      width: 25px;
      height: 25px;
      background: transparent;
      border: none;
      outline: none;
      right: 0; }
      .box_gallery .box_img_p_gallery .wrapper-orbita:hover ~ .p_li_gallery {
        opacity: 1; }
      .box_gallery .box_img_p_gallery .wrapper-orbita ul {
        position: relative;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .box_gallery .box_img_p_gallery .wrapper-orbita ul li {
          list-style: none; }
        .box_gallery .box_img_p_gallery .wrapper-orbita ul .centro {
          width: 3px;
          height: 3px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: white;
          position: absolute; }
        .box_gallery .box_img_p_gallery .wrapper-orbita ul .orbita {
          position: absolute;
          border-radius: 50%;
          border: 1px solid white;
          animation: orbitas infinite;
          top: -50%;
          left: -50%;
          transform: translate(-50%, -50%); }
        .box_gallery .box_img_p_gallery .wrapper-orbita ul .uno {
          width: 6px;
          height: 6px;
          top: 9.5px;
          left: 9.5px;
          animation-duration: 2s; }
        .box_gallery .box_img_p_gallery .wrapper-orbita ul .dos {
          width: 10px;
          height: 10px;
          top: 7.5px;
          left: 7.5px;
          animation-delay: 1s;
          animation-duration: 4s; }

@keyframes orbitas {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(2);
    opacity: 0; }
  51% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }
    .box_gallery .box_img_p_gallery .p_li_gallery {
      opacity: 0;
      width: 50%;
      margin: 1em;
      text-align: center; }
      .box_gallery .box_img_p_gallery .p_li_gallery .fa-heart, .box_gallery .box_img_p_gallery .p_li_gallery .section_article .box_article:hover h2, .section_article .box_article:hover .box_gallery .box_img_p_gallery .p_li_gallery h2 {
        color: crimson; }
    .box_gallery .box_img_p_gallery .img-svg {
      padding: 1.5em;
      position: relative;
      width: 50%;
      height: fit-content; }
      .box_gallery .box_img_p_gallery .img-svg:hover {
        transform: scale(1.5);
        position: absolute; }
    .box_gallery .box_img_p_gallery svg {
      stroke: white;
      position: absolute;
      width: 20px;
      height: 20px; }
      .box_gallery .box_img_p_gallery svg path {
        fill: none;
        stroke: white;
        stroke-width: 1; }
    .box_gallery .box_img_p_gallery .der-sup {
      top: 0;
      right: 0; }
    .box_gallery .box_img_p_gallery .izq-inf {
      bottom: 0;
      left: 0; }

#index {
  margin-top: 0px; }

section {
  overflow: hidden;
  height: calc(100vh + 80px);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  section .box_title_p {
    background-color: rgba(0, 0, 0, 0.167);
    width: 35vw;
    height: auto;
    padding: 2em; }
    section .box_title_p .fa-rocket {
      animation: spin 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) 2;
      animation-delay: 1s; }

@keyframes spin {
  10%, 90% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  20%, 80% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  40%, 60% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

#first_section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: calc(100vh + 80px); }
  #first_section #video_first_section {
    height: 100%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    top: 0px;
    z-index: -1; }
  #first_section .box_p_first_section {
    text-align: right;
    width: 35%;
    margin: 5em; }
  #first_section .astro {
    font-size: 1.777rem;
    font-family: "Bebas Neue", sans-serif; }

.img_second_section {
  width: 60vw;
  height: 70vh;
  object-fit: cover; }

.img_third_section {
  width: 60vw;
  height: 100vh;
  object-fit: cover;
  -webkit-transform: translate(-10%);
  -ms-transform: translate(-10%);
  transform: translate(-10%); }

.img_third_section_2 {
  width: 25%;
  position: absolute;
  left: 44%; }

.img_fourth_section {
  width: 60%;
  height: 100vh;
  -webkit-transform: translate(25px);
  -ms-transform: translate(25px);
  transform: translate(25px);
  object-fit: cover; }

.img_fourth_section_2 {
  width: 30%;
  position: absolute;
  right: 25%;
  top: 35%; }

#fifth_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #fifth_section .title_fifth_section {
    width: 35%; }
  #fifth_section .box_img_fifth_section {
    display: flex;
    flex-direction: column;
    width: 12%;
    height: calc(100vh - 80px);
    margin-top: 80px; }
    #fifth_section .box_img_fifth_section .img_fifth_section {
      width: 100%;
      height: 60%;
      object-fit: cover; }
    #fifth_section .box_img_fifth_section .p_img_fifth_section {
      width: 100%;
      height: 30%;
      font-weight: bold; }

#obserbar {
  padding: 2em 4em 4em 4em; }

.img_brujula {
  width: 40%;
  float: right; }

.img-meteoritos {
  height: 100%;
  object-fit: cover;
  object-position: bottom; }

.img_galaxias {
  position: relative;
  top: 0; }

* {
  font-family: 'Montserrat', sans-serif; }

html {
  scroll-behavior: smooth;
  font-size: 100%;
  /*16px*/ }

main {
  margin-top: calc(10px + 4em); }

body {
  background: #0a0a0a;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #fff; }

p {
  margin-bottom: 0.5em; }

h1, h2, h3, h4, h5 {
  margin: 0.3em 0 0.3em;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.3; }

h1 {
  margin-top: 0;
  font-size: 4.209rem; }

h2 {
  font-size: 3.157rem; }

h3 {
  font-size: 2.369rem; }

h4 {
  font-size: 1.777rem; }

h5 {
  font-size: 1.333rem; }

li {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  font-size: 16px; }

a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em; }

a:hover {
  text-decoration: none;
  color: #fff; }

.fa-solid {
  color: #fff;
  margin: 0.5rem; }

:focus-visible {
  outline: none; }

.img_inicio {
  height: 65vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom; }

.introduction {
  margin: 0em 4em 4em;
  margin-top: 2em; }

@media screen and (max-width: 767.98px) {
  html {
    font-size: 50%; }
  p {
    font-size: 16px; }
  .section_article {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .section_article .box_article:nth-child(1) {
      grid-column-start: span 2; }
    .section_article .box_article:nth-child(6) {
      grid-column-end: span 2; }
  /* footer */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: bottom;
    background-size: auto; }
    footer #title_contact {
      margin-left: 0; }
    footer .title_p_contact {
      align-items: center;
      height: 40%;
      width: 50%;
      margin-left: 0; }
      footer .title_p_contact .h3_contact {
        text-align: center; }
      footer .title_p_contact #ul_social_medias {
        width: 100%;
        justify-content: center; }
    footer form {
      width: 80%;
      margin-right: 0;
      margin-top: 4em;
      margin-bottom: 4em;
      margin-left: 0; }
  /* estilos de las secciones del index */
  section {
    height: auto; }
    section .box_title_p {
      background-color: rgba(0, 0, 0, 0.626);
      width: 40vw;
      height: auto;
      position: absolute;
      box-shadow: #939393 0px 0px 30px;
      animation: brillo 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; }
  /* second_section */
  .img_second_section {
    width: 100vw;
    height: 100vh; }
  /* third_section */
  .img_third_section {
    width: 100vw;
    transform: translate(0);
    object-position: 35%; }
  .img_third_section_2 {
    left: 70%; }
  /* fourth section */
  .img_fourth_section {
    width: 100%;
    transform: translate(0); }
  .img_fourth_section_2 {
    width: 30%;
    left: 10%;
    top: 65%; }
  .title_p_fourth_section {
    z-index: 1; }
  /* fifth section */
  #fifth_section {
    flex-direction: column;
    justify-content: space-evenly; }
    #fifth_section .title_fifth_section {
      background-color: rgba(255, 255, 255, 0.05);
      width: 80%;
      margin: 80px 1em 4em;
      position: relative; }
    #fifth_section .box_img_fifth_section {
      width: 100%;
      height: 15vh;
      margin-top: 0px; }
      #fifth_section .box_img_fifth_section .p_img_fifth_section {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        padding: 1em;
        text-align: center; }
      #fifth_section .box_img_fifth_section .img_fifth_section {
        height: 100%; }
  /* estilos de como observar el cielo */
  .img_brujula {
    width: 60%;
    float: right; }
  .box_gallery .box_img_p_gallery {
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 10em); }
    .box_gallery .box_img_p_gallery .wrapper-orbita {
      position: absolute;
      right: 50%;
      top: 65%; }
    .box_gallery .box_img_p_gallery .img-svg {
      width: 100%;
      height: 60%; }
      .box_gallery .box_img_p_gallery .img-svg:hover {
        transform: scale(0);
        position: static; }
      .box_gallery .box_img_p_gallery .img-svg img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .box_gallery .box_img_p_gallery .p_li_gallery {
      width: 100%; } }

@media screen and (max-width: 575px) {
  .section_article {
    display: flex; }
  /* galeria */
  .box_gallery .box_img_p_gallery {
    flex-direction: column;
    justify-content: space-around; }
    .box_gallery .box_img_p_gallery .wrapper-orbita {
      position: absolute;
      right: 50%;
      top: 65%; }
    .box_gallery .box_img_p_gallery .img-svg {
      width: 100%;
      height: 60%; }
      .box_gallery .box_img_p_gallery .img-svg:hover {
        transform: scale(0);
        position: static; }
      .box_gallery .box_img_p_gallery .img-svg img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .box_gallery .box_img_p_gallery .p_li_gallery {
      width: 100%; } }
