.title_gallery{
    margin: 0rem 4rem 4rem;
    margin-top: 2rem;
   }
.box_gallery{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 4em;
    overflow: hidden;
    .box_img_p_gallery{
        position: relative;
        display: flex;  
        justify-content: center;
        height: 100vh;
        flex-direction: row;
        padding: 1em;
        align-items: center;
        .wrapper-orbita{
            position: absolute;
            z-index: 100;
            width: 25px;
            height: 25px;
            background: transparent;
            border: none;
            outline: none;
            right: 0;
            &:hover ~.p_li_gallery{
                opacity: 1;
            }
            ul{
                position: relative;
                width: 25px;
                height: 25px;
                top:50% ;
                left: 50%;
                transform: translate(-50%, -50%);
                li{
                    list-style: none;
                }
                .centro{
                    width: 3px;
                    height: 3px;
                    top:50% ;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-color: white;
                    position: absolute;
                }
                .orbita{
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid white;
                    animation: orbitas infinite;
                    top: -50%;
                    left: -50%;
                    transform: translate(-50%, -50%);
                }
                .uno{
                    width: 6px;
                    height: 6px;
                    top:9.5px;
                    left:9.5px;
                    animation-duration: 2s;
                }
                .dos{
                    width: 10px;
                    height: 10px;
                    top:7.5px;
                    left:7.5px;
                    animation-delay: 1s;
                    animation-duration: 4s;
                }
                @keyframes orbitas {
                    0%{
                        transform: scale(1);
                        opacity: 1;
                    }
                    50%{
                        transform: scale(2);
                        opacity: 0;
                    }
                    51%{
                        transform: scale(1);
                        opacity: 1;
                    }
                    100%{
                        transform: scale(2);
                        opacity: 0;
                    }
                }
            }
        }
        .p_li_gallery{
            opacity: 0; 
            width: 50%;  
            // position: absolute;
            margin: 1em;
            text-align: center;
            .fa-heart{
                color: crimson;
            }
        }
        
        .img-svg{
            padding: 1.5em;
            // position: absolute;
            position: relative;
            // top: 10%;
            width: 50%;
            height: fit-content;
            &:hover{
                transform: scale(1.5);
                position: absolute;
            }
          
        }
        svg{
            stroke: white;
            position: absolute;
            width:20px;
            height:20px;
            path{
                fill:none;
                stroke:white; 
                stroke-width:1; 
            }
        }
        .der-sup{
            top: 0;
            right: 0;
        }
        .izq-inf{
            bottom:0;
            left: 0;

        }
    }
   
}
