.title_gallery{
    margin: 4rem;
   }
.box_gallery{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows:350px;
    padding:4em;
    grid-gap:1em;
    .box_img_p_gallery{
        position: relative;
        overflow: hidden;
        .img_gallery{
            width:100%;
            height:100%;
            object-fit:cover;
           }
           .p_li_gallery{
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            transition: all 1s ease-in-out;
            background-color:rgba(0, 0, 0, 0.626) ;
            height: 103%;
            padding: 1em;
               .p_gallery{
                font-weight: bold;
               }
               .fa-heart{
                color: crimson;
            }
           }
       }
       .box_img_p_gallery:hover .p_li_gallery{
        transform: translatey(-100%);
       }
    
       .box_img_p_gallery:nth-child(4){
        grid-column-start:span 2;
       }
       .box_img_p_gallery:nth-child(5){
        grid-row-start: span 2;
       }
   }