.title_gallery{
    margin: 0rem 4rem 4rem;
    margin-top: 2rem;
   }
.box_gallery{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    padding: 4em;
    overflow: hidden;
    .box_img_p_gallery{
        position: relative;
        display: flex;  
        justify-content: center;
        height: 100vh;
        flex-direction: row;
        padding: 1em;
        align-items: center;  
        @include orbitas (45px, 45px, 1px, 0);
            .wrapper-orbita:hover ~.p_li_gallery{
                opacity: 1;
            }
        
        
        .p_li_gallery{
            opacity: 0; 
            width: 40%;  
            // position: absolute;
            margin: 1em;
            text-align: center;
            transition: 2s;
            .fa-heart{
                color: crimson;
            }
        }
        
        .img-svg{
            padding: 1.5em;
            // position: absolute;
            position: relative;
            // top: 10%;
            width: 70%;
            height: fit-content;
            transition: 1s;
        }
        svg{
            stroke: white;
            position: absolute;
            width:20px;
            height:20px;
            path{
                fill:none;
                stroke:white; 
                stroke-width:1; 
            }
        }
        .der-sup{
            top: 0;
            right: 0;
        }
        .izq-inf{
            bottom:0;
            left: 0;

        }
    }
   
}
