// estilos generales de las secciones del index
#index{
    margin-top: 0px;
    position: relative;
    height: 100%;
}

.index{
    overflow: hidden; 
    height: 110vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;      

    #video_first_section{   
        height: 100%;
        width: 100vw;
        object-fit: cover;
        position: absolute;
        top: 0px;
        z-index: -1;
    }
    div{
        height: fit-content;
        h1{
            margin-top: 10vh;
            -webkit-text-stroke: 1px $delay-astro;
            color: $astro-delay;
            font-size: 20em;
            padding-top:  8vh;
            margin: 0;
            line-height: 0.8;
            span{
                font-family:$title_font;
                transition: 1s;
                &:hover{
                    color: rgba(64, 43, 100, 0.482);
                    text-shadow:rgba(33, 23, 50, 0.397) -8px 5px 1px ;
                }
                
            }
            &:hover ~p{
                opacity: 1;
        }
      
        }
        p{
            text-align: center;
            opacity: 0;
            transition: 5s;
            color: rgb(193, 182, 212);
            font-weight: bolder;
            text-transform: capitalize;
        }
   
    }
}
