$title_font:'Bebas Neue', sans-serif;
$delay-black:rgba(255, 254, 254, 0.105);
$turquesa: #23d5ab;
$fucsia: #e73c7e;


$nav-delay:#0a0a0a54;
$astro-delay:#0a0a0a86;
$delay-astro:#ebe5e514;

// variables bread
$bread:#023872;
$bread-hover:#077af6;
$bread-active:#8ac0fa;
$bread-back:#e6eaef;
$bread-back-hover: #aedfff ;
$bread-back-active:#077af6;



