$title_font:'Bebas Neue', sans-serif;
$delay-black:rgba(255, 254, 254, 0.105);
$turquesa: #23d5ab;
$fucsia: #e73c7e;
$body:#0a0a0a ;

// colores fondos transparentes
$nav-delay:#0a0a0a33;
$nav-strong:#0a0a0a49;
$astro-delay:#0a0a0a86;
$delay-astro:#ebe5e514;
$border:#e6eaef1a;
$footer-delay:rgba(43, 66, 100, 0.482);
$footer-index: rgba(64, 43, 100, 0.413);
$fa-index:rgba(181, 130, 236, 0.991);

// colores generales
$bread-hover:rgb(130, 208, 236);
$bread-active:#FF8300;
$bread:#e6eaef;

